*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
}

header img{
    height: 27px;
    margin-bottom: 0.5rem;
}

header h1{
    color:white;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:gray;
}

main p , h1{
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.big-div{
    display: flex;
}

.flex-column{
    display: flex;
    background-color: #000000;
    flex-direction: column;
    max-width: 20%;
}

section.upgrade{
    padding: 1.5rem;
    background: #080b12;
    display: flex;
    justify-content: end;
}

.upgrade button{
    background-color: black;
    color: white;
    border-radius: 10%;
    border: 1px solid white;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
}

.nav-bar-artist ul{
    display: flex;
    flex: row;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    padding: 1rem;
}

.nav-bar-artist ul > li{
    margin-right: 1rem;
}


section.artisti{
    display: flex;
    flex-wrap:wrap;
}

.artisti-album{
    max-width: calc(100% / 6);
    padding: 1rem;
    text-align: center;
    font-size: 10px;
}

.artisti-album img{
    max-width: 100%;
}

.artisti-album-per-john{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

main p{
    color: gray;
}

.main-container{
    background-color: #141922;
    color: white;
}

.realase-radar{
    max-width: calc(100% / 6);
    padding: 0.5rem;
}

.realase-radar img{
    max-width: 100%;
    padding: 0.5rem;
}

.border-radious{
    border-radius: 50%;
}

.viewport{
}