*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
}

.main-container{
    width:calc(100%-200px);
}



header img{
    height: 27px;
}

header h3{
    color:white;
    padding-bottom: 0.5rem;
}

header ul li{
    margin-bottom: 1rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:gray;
}

main p h1 h2{
    padding-left: 0.5rem;
    padding-bottom: 1rem;
}

.padding-left{
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.logo-spotify{
    margin-bottom: 2rem;
    height: 2.5rem;
    text-align: center;
}

.big-div{
    display: flex;
    height: calc(100vh - 90px);
    overflow: hidden;
}

.fa-square-plus{
    font-size: 2rem;
    padding-right: 0.5rem;
}

.display-flex{
    display: flex;
}

.crea-playlist{
    align-items: center;
    display: flex;
    padding-bottom: 1rem;
}

.align-content-center{
    align-content:center;
}

.installa-app{
    display: flex;
}

.installa-app img{
    margin-right:0.3rem;
    height: 1rem;
    margin-bottom: 0.5rem;
}

.user-container img{
    height: 1.5rem;
    margin-top: 0.5rem;
    border-radius: 50%;
    background: gray;
    margin-right: 0.5rem;
}

.color-white{
    color: white;
    font-weight: bold;
}

.logo-john{
    display: flex;
    align-content: center;
    align-items: center;
}

.installa-app span{
    align-content: start;
}

.flex-column{
    display: flex;
    background-color: #000000;
    flex-direction: column;
    width: 250px;
    font-size: 0.7rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

section.upgrade{
    padding: 1.5rem;
    background: #080b12;
    opacity: 0.9;
    display: flex;
    justify-content: end;
    width: calc(100% - 150px);
    position: fixed;
}

.upgrade button{
    background-color: black;
    color: white;
    border-radius: 25px;
    border: 1px solid white;
    padding: 0.5rem 2rem;
    font-weight: bold;
}

.nav-bar-artist{
    padding-top: 5rem;
}

.nav-bar-artist ul{
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    padding: 1rem;
    flex-wrap:wrap;
}

.nav-bar-artist ul > li{
    margin-right: 1rem;
}

.nav-bar-artist ul > li:hover{
    border-bottom: 1px solid #adff2f ;
    color: white;
    transform: scale(1.1);    
}

a{
    transition: transform 0.1s ease;
}

a:hover{
    color: white;
    transform: scale(1.1);
}

.search li:hover{
    border-right: 1px solid #adff2f ;
}

div.viewport{
    height: 100vh;
}

section.artisti{
    display: flex;
    flex-wrap:wrap;
}

.artisti-album{
    max-width: calc(100% / 6);
    padding: 1rem;
    text-align: center;
    font-size: 10px;
}

.artisti-album img{
    max-width: 100%;
}

.artisti-album-per-john{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

main p{
    color: gray;
}

.main-container{
    background-color: #141922;
    color: white;
    height: calc(100vh - 70px);
    overflow: scroll;
}

.realase-radar{
    max-width: calc(100% / 6);
    padding: 1rem;
}

.realase-radar img{
    max-width: 100%;
}

.border-radious{
    border-radius: 50%;
}
 /* da qui comincia il css del footer */
.footer{
    background-color: #282828;
    color: white;
    display: flex;
    flex-direction: row;
}

.album-piccolo{
    width: 5px;
    display: block;
}

.listening{
    display: flex;
    flex-direction: row;
}


footer{
    display:flex;
    color: white;
    background-color:#282828 ;
    justify-content: space-between;   
    height:90px;
}

.listening{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    display:flex;
    width: 33%;
}

.block-center{
    text-align: center;
}

.left{
    text-align: left;
    display: flex;
    flex-direction: row;
}

.cl-gray{
    color: gray;
}

.song-cover{
    max-width: 100%;
    padding: 0.5rem;
}
.song-name{
    font-size: 0.5rem;
}

.right{
    display: flex;
    justify-content: end;
}

.lateral{
    display: block;
    text-align: center;
}

.lateral a{
    padding: 0.5rem;
}

.block-center a{
    padding: 0.5rem;
}

.fa-circle-play{
    font-size: 2rem;
}

.img-small{
    height: 4rem;
}

.div-song-name{
    display: flex;
    align-items: center;
    justify-content: center;
}
.song-name{
    padding: 0.5rem;
    font-size: 1rem;
    padding-left: 1rem;
    color: grey;
}

.song-name-description{
    font-size: 0.5rem;
    padding-left: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;   
}

.song{
    font-size: 0.5rem;
    padding: 0.5rem;
}

.aligne-content-center{
    align-content: center;
}

ul li:hover{
    color: white;
}
/* da qui cominciano le media query */
@media screen and (min-width: 1200px){
    .upgrade{
        margin-right: 1.5rem;     
    }

    .logo-spotify-small{
        display: none;
    }
}

@media screen and (max-width: 1200px){
    .logo-spotify-small{
        display: none;
    }
}

@media screen and (max-width: 992px){
    .artisti-album{
        max-width: calc(100% / 4);   
    }

    .nav-bar-artist ul li{
        width: calc(100% / 6);
        margin-bottom: 2rem;
    }

    .nav-bar-artist ul{
        text-align: center;
    }

    .padding-left{
        padding-top: 0;
    }
    
    .listening{
        font-size: 0.7rem;
    }

    .logo-spotify-small{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .artisti-album{
        max-width: calc(100% / 2);    
    }
    
    .nav-bar-artist ul li{
        width: calc(100% / 4);
    }

    .listening{
        font-size: 0.6rem;
    }

    .logo-spotify-small{
        display: none;
    }

}

@media screen and (max-width: 576px){
    .artisti-album{
        max-width: calc(100% / 2);    
    }   

    .flex-column{
        width: 40px;
    }

    .playlist{
        display: none;
    }

    .search li span{
        display: none;
    }

    .search li:hover{
        border-right:none;
    }

    .search li img:hover{
        border-bottom: 1px solid #adff2f ;
    }

    .account a span{
        display:none;
    }

    .account hr{
        display:none;
    }

     /* con questa regola decidi quale immagine e quando farla visualizzare! */
    .logo-spotify{
        display: none;
    }

    .logo-spotify-small{
        margin-bottom:1rem;
        display: block;
    }

    .user-container img

    .installa-app img{
        height: 2rem;
        }

    section.upgrade{
        width: calc(100% - 40px);
    }   
}



